<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kiosktextcover</key>
	<string>#383838</string>
	<key>kioskthumbtextsize</key>
	<integer>13</integer>
	<key>kioskthumbborder</key>
	<integer>0</integer>
	<key>kiosktextstrzalka</key>
	<string>#222222</string>
	<key>kiosktextopis</key>
	<string>#555555</string>
	<key>previewbg</key>
	<string>#ffffff</string>
	<key>bookmarkslabeltop</key>
	<string>#005e68</string>
	<key>bookmarkslabelstext</key>
	<string>#005e68</string>
	<key>thumbborder</key>
	<string>#000000</string>
	<key>thumbtext</key>
	<string>#353535</string>
	<key>previewborder</key>
	<string>#ffffff</string>
	<key>previewbuttonrounded</key>
	<string>5</string>
	<key>previewbuttonborder</key>
	<string>#f4f4f4</string>
	<key>previewbuttontint</key>
	<string>#005e68</string>
	<key>previewbuttonbuybg</key>
	<string>#f4f4f4</string>
	<key>previewbuttonbg</key>
	<string>#f4f4f4</string>
	<key>previewbuttonbgH</key>
	<string>#005e68</string>
	<key>previewbuttonborderH</key>
	<string>#f4f4f4</string>
	<key>previewbuttontintH</key>
	<string>#f4f4f4</string>
	<key>previewloaderbordercolor</key>
	<string>clearColor</string>
	<key>previewloaderbgcolor</key>
	<string>clearColor</string>
	<key>previewloadercolor</key>
	<string>#333333</string>
	<key>previewnamelabel</key>
	<string>#005e68</string>
	<key>previewpagelabel</key>
	<string>#005e68</string>
	<key>fontNormal</key>
	<string>Lato-Regular</string>
	<key>fontBold</key>
	<string>Lato-Bold</string>
	<key>appid</key>
	<string>22</string>
	<key>toplogo</key>
	<string>logo</string>
	<key>segmenttint</key>
	<string>#005e68</string>
	<key>pagewidth</key>
	<string>1446</string>
	<key>pageheight</key>
	<string>2048</string>
	<key>sharablebydb</key>
	<false/>
	<key>previewmodalview</key>
	<string>#eeeeee</string>
	<key>previewrounded</key>
	<string>0</string>
	<key>kioskVersionBankowa</key>
	<true/>
	<key>coverSizeLandscape</key>
	<dict>
		<key>x</key>
		<integer>55</integer>
		<key>y</key>
		<integer>185</integer>
		<key>width</key>
		<integer>300</integer>
		<key>height</key>
		<integer>410</integer>
	</dict>
	<key>banerSize</key>
	<dict>
		<key>x</key>
		<integer>55</integer>
		<key>y</key>
		<integer>25</integer>
		<key>width</key>
		<integer>630</integer>
		<key>height</key>
		<integer>114</integer>
	</dict>
	<key>kiosk_pobierz_bgcolor</key>
	<string>#aeaeae</string>
	<key>kiosk_pobierz_color</key>
	<string>#000000</string>
</dict>
</plist>
